body {
    background: rgb(44, 43, 43);
    font: normal 15pt arial;
}

header {
    color: aliceblue;
    text-align: center;
}

section {
    background: rgb(23, 66, 102);
    color: aliceblue;
    border-radius: 10px ;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.527);
}

.txtnum {
    text-align: center;
}

select#flista {
    width: 150px;
}

footer {
    color: aliceblue;
    text-align: center;
    font-style: italic;
}